<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
		<dict>
			<key>name</key>
			<string>newborn</string>
			<key>name_key</key>
			<string>name_newborn</string>
			<key>image</key>
			<string>newborn.jpg</string>
			<key>sounds</key>
			<array>
				<string>whitenoise</string>
				<string>heartbeat</string>
				<string>shh</string>
				<string>womb</string>
				<string>vacuum</string>
				<string>washing_machine</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>infants</string>
			<key>name_key</key>
			<string>name_infants</string>
			<key>image</key>
			<string>infants.jpg</string>
			<key>sounds</key>
			<array>
				<string>hairdryer</string>
				<string>pink_noise</string>
				<string>car_ride</string>
				<string>fan</string>
				<string>raindrops</string>
				<string>waterfall</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>toddler</string>
			<key>name_key</key>
			<string>name_toddler</string>
			<key>image</key>
			<string>toddler.jpg</string>
			<key>sounds</key>
			<array>
				<string>train_vibes</string>
				<string>nighttime_ambience</string>
				<string>campfire</string>
				<string>tweet_tweet</string>
				<string>seashore_sleeps</string>
				<string>fountain</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>lullabies</string>
			<key>name_key</key>
			<string>name_lullabies</string>
			<key>image</key>
			<string>lullabies.jpg</string>
			<key>sounds</key>
			<array>
				<string>lullaby_1</string>
				<string>lullaby_2</string>
				<string>lullaby_3</string>
				<string>lullaby_4</string>
				<string>lullaby_5</string>
				<string>lullaby_6</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>parents</string>
			<key>name_key</key>
			<string>name_parents</string>
			<key>image</key>
			<string>parents.jpg</string>
			<key>sounds</key>
			<array>
				<string>jungle_vibes</string>
				<string>fire</string>
				<string>stormy_nights</string>
				<string>roaring_river</string>
				<string>calming_waves</string>
				<string>brown_noise</string>
			</array>
		</dict>
	</array>
	<key>sounds</key>
	<dict>
		<key>whitenoise</key>
		<dict>
			<key>fade_in</key>
			<true/>
			<key>image</key>
			<string>white_noise.jpg</string>
			<key>name_key</key>
			<string>name_whitenoise</string>
			<key>audio_loop</key>
			<string>white_noise_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>heartbeat</key>
		<dict>
			<key>image</key>
			<string>heartbeat.jpg</string>
			<key>name_key</key>
			<string>name_heartbeat</string>
			<key>audio_loop</key>
			<string>heartbeat_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>shh</key>
		<dict>
			<key>image</key>
			<string>shh.jpg</string>
			<key>name_key</key>
			<string>name_shh</string>
			<key>audio_loop</key>
			<string>shh_long_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>womb</key>
		<dict>
			<key>image</key>
			<string>womb.jpg</string>
			<key>name_key</key>
			<string>name_womb</string>
			<key>audio_loop</key>
			<string>womb_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>vacuum</key>
		<dict>
			<key>image</key>
			<string>vacuum.jpg</string>
			<key>name_key</key>
			<string>name_vacuum</string>
			<key>audio_start</key>
			<string>vacuum_start.m4a</string>
			<key>audio_loop</key>
			<string>vacuum_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>washing_machine</key>
		<dict>
			<key>image</key>
			<string>washing_machine.jpg</string>
			<key>name_key</key>
			<string>name_washing_machine</string>
			<key>audio_loop</key>
			<string>washing_machine_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
			<key>fade_in</key>
			<true/>
		</dict>
		<key>hairdryer</key>
		<dict>
			<key>image</key>
			<string>hairdryer.jpg</string>
			<key>name_key</key>
			<string>name_hairdryer</string>
			<key>audio_loop</key>
			<string>hairdryer_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
			<key>fade_in</key>
			<true/>
		</dict>
		<key>pink_noise</key>
		<dict>
			<key>fade_in</key>
			<true/>
			<key>image</key>
			<string>pink_noise.jpg</string>
			<key>name_key</key>
			<string>name_pink_noise</string>
			<key>audio_loop</key>
			<string>pink_noise_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>car_ride</key>
		<dict>
			<key>image</key>
			<string>car_ride.jpg</string>
			<key>name_key</key>
			<string>name_car_ride</string>
			<key>audio_start</key>
			<string>car_ride_start.m4a</string>
			<key>audio_loop</key>
			<string>car_ride_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>fan</key>
		<dict>
			<key>image</key>
			<string>fan.jpg</string>
			<key>name_key</key>
			<string>name_fan</string>
			<key>audio_start</key>
			<string>fan_start.m4a</string>
			<key>audio_loop</key>
			<string>fan_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>raindrops</key>
		<dict>
			<key>image</key>
			<string>rippling_raindrops.jpg</string>
			<key>name_key</key>
			<string>name_raindrops</string>
			<key>audio_loop</key>
			<string>rain_drips_on_concrete_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>fade_in</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>waterfall</key>
		<dict>
			<key>image</key>
			<string>summer_waterfall.jpg</string>
			<key>name_key</key>
			<string>name_waterfall</string>
			<key>audio_loop</key>
			<string>waterfall.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
			<key>fade_in</key>
			<true/>
		</dict>
		<key>train_vibes</key>
		<dict>
			<key>image</key>
			<string>train_vibes.jpg</string>
			<key>name_key</key>
			<string>name_train_vibes</string>
			<key>audio_loop</key>
			<string>train_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
			<key>fade_in</key>
			<true/>
		</dict>
		<key>nighttime_ambience</key>
		<dict>
			<key>fade_in</key>
			<true/>
			<key>image</key>
			<string>nighttime_ambience.jpg</string>
			<key>name_key</key>
			<string>name_nighttime_ambience</string>
			<key>audio_loop</key>
			<string>residential_nighttime_ambience_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>campfire</key>
		<dict>
			<key>image</key>
			<string>calming_campfire.jpg</string>
			<key>name_key</key>
			<string>name_campfire</string>
			<key>audio_loop</key>
			<string>campfire_ambience_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>tweet_tweet</key>
		<dict>
			<key>image</key>
			<string>tweet_tweet.jpg</string>
			<key>name_key</key>
			<string>name_tweet_tweet</string>
			<key>audio_loop</key>
			<string>morning_park_ambience_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>seashore_sleeps</key>
		<dict>
			<key>image</key>
			<string>seashore_sleeps.jpg</string>
			<key>name_key</key>
			<string>name_seashore_sleeps</string>
			<key>audio_loop</key>
			<string>ocean_waves_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>fade_in</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>fountain</key>
		<dict>
			<key>image</key>
			<string>trickling_fountain.jpg</string>
			<key>name_key</key>
			<string>name_fountain</string>
			<key>audio_loop</key>
			<string>fountain_loop.m4a</string>
			<key>fade_in</key>
			<true/>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>lullaby_1</key>
		<dict>
			<key>image</key>
			<string>lullaby_1.jpg</string>
			<key>name_key</key>
			<string>name_lullaby_1</string>
			<key>audio_loop</key>
			<string>lullaby_1_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>lullaby_2</key>
		<dict>
			<key>image</key>
			<string>lullaby_2.jpg</string>
			<key>name_key</key>
			<string>name_lullaby_2</string>
			<key>audio_loop</key>
			<string>lullaby_2_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>lullaby_3</key>
		<dict>
			<key>image</key>
			<string>lullaby_3.jpg</string>
			<key>name_key</key>
			<string>name_lullaby_3</string>
			<key>audio_loop</key>
			<string>lullaby_3_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>lullaby_4</key>
		<dict>
			<key>image</key>
			<string>lullaby_4.jpg</string>
			<key>name_key</key>
			<string>name_lullaby_4</string>
			<key>audio_loop</key>
			<string>lullaby_4_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>lullaby_5</key>
		<dict>
			<key>image</key>
			<string>lullaby_5.jpg</string>
			<key>name_key</key>
			<string>name_lullaby_5</string>
			<key>audio_loop</key>
			<string>lullaby_5_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>lullaby_6</key>
		<dict>
			<key>image</key>
			<string>lullaby_6.jpg</string>
			<key>name_key</key>
			<string>name_lullaby_6</string>
			<key>audio_loop</key>
			<string>lullaby_6_harp_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>jungle_vibes</key>
		<dict>
			<key>image</key>
			<string>jungle_vibes.jpg</string>
			<key>name_key</key>
			<string>name_jungle_vibes</string>
			<key>audio_loop</key>
			<string>jungle_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>fire</key>
		<dict>
			<key>image</key>
			<string>crackling_fire.jpg</string>
			<key>name_key</key>
			<string>name_fire</string>
			<key>audio_loop</key>
			<string>wood_fire_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>stormy_nights</key>
		<dict>
			<key>image</key>
			<string>stormy_nights.jpg</string>
			<key>name_key</key>
			<string>name_stormy_nights</string>
			<key>audio_loop</key>
			<string>thunder_storm_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>roaring_river</key>
		<dict>
			<key>image</key>
			<string>roaring_river.jpg</string>
			<key>name_key</key>
			<string>name_roaring_river</string>
			<key>audio_loop</key>
			<string>river_ambience_loop.m4a</string>
			<key>pro</key>
			<false/>
			<key>unlock_via_review</key>
			<false/>
		</dict>
		<key>calming_waves</key>
		<dict>
			<key>image</key>
			<string>calming_waves.jpg</string>
			<key>name_key</key>
			<string>name_calming_waves</string>
			<key>audio_loop</key>
			<string>gentle_waves_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
		<key>brown_noise</key>
		<dict>
			<key>fade_in</key>
			<true/>
			<key>image</key>
			<string>brown_noise.jpg</string>
			<key>name_key</key>
			<string>name_brown_noise</string>
			<key>audio_loop</key>
			<string>brown_noise_loop.m4a</string>
			<key>pro</key>
			<true/>
			<key>unlock_via_review</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
